/* Spacing System:
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/* 
VIEWPORTS of this project
header 20vh 
view 25vh 
view1 50vh
footer 10vh */

:root {
  --background-image: linear-gradient(
    to right,
    rgba(119, 88, 88, 0.521),
    rgba(96, 119, 96, 0.733)
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Turret Road", sans-serif;
  margin: 0 auto;
  width: 900px;
  background-color: #dee2e6;
  height: 100vh;
}

header {
  background-color: #868e96;
  background-image: var(--background-image);
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header h1 {
  font-size: 42px;
  font-weight: 800;
  color: #f1f3f5;
}

.view {
  height: 25vh;
  background-color: #dbe4ff;
}

.task {
  display: flex;
  flex-direction: column;
  /* height: 40vh; */
}
.input {
  width: 450px;
  margin: 32px auto;
  height: 48px;
  text-align: center;
  color: white;
  font-weight: 400;
  font-size: 20px;
  box-shadow: 0 5px 20px rgb(148, 142, 142);
  background-color: #212529;
  border: none;
  transition: transform 2s;
}
.input::placeholder {
  font-family: "Turret Road", sans-serif;
  color: #f1f3f5;
  font-size: 20px;
}
.input:hover {
  background-color: #495057;
  transform: scale(1.1);
  transition: 1s;
  color: white;
}

.input:hover::placeholder {
  color: white;
}

.btn {
  margin: 8px auto;
  font-size: 20px;
  font-family: "Turret Road", sans-serif;
  font-weight: 1000;
  padding: 8px 32px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 1s;
  color: #212529;
  background-image: linear-gradient(to right, #e9ecef, #f34704);
}
.btn:hover {
  transform: scale(1.1);
  transition: 1s;
}

.view2 {
  height: 45vh;
  background-color: #dbe4ff;
  overflow: scroll;
}
.task-append {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.task-added {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  margin-top: 12px;
}

.check {
  width: 22px;
}
.task-added p {
  font-size: 20px;
}
footer {
  background-image: var(--background-image);
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

footer .icon {
  height: 24px;
}
/* strikethrough class */
.text-strike {
  font-size: 24px;
}

.strike {
  text-decoration: line-through;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #007bff;
  border-radius: 10px;
  border: 3px solid #f0f0f0;
}

::-webkit-scrollbar-thumb:hover {
  background: #0056b3;
}

::-webkit-scrollbar-corner {
  background: #f0f0f0;
}
